
    <div class="container">
    <div class="row">
    <div class="col-md-6 offset-md-3">
    <div class="container text-center bg" ><br><br>
    
    <h3>Welcome to RippleHire,<br>
        Employee Management System
    </h3>
    <br>
    <br>
    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button (click)="gotoAddEmployee()" class="btn btn-dark" type="button" >Add Employee</button>
       
    <br><br>
 
    <button (click)=" allEMployees()" class="btn btn-dark">Manage Employees</button>
      
    </div>
    </div>
    </div>
    </div>
    </div>
    
    